{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "ignore": [
    "node_modules"
  ]
}
